<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="false" android:version="1" />
    <uses-feature android:name="android.hardware.vulkan.level" android:required="false" android:version="1" />
    <application
        android:name=".platform.SpatialApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_spatial_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpatialOpenXRProbeTheme">
        <activity android:name=".platform.LaunchActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="pico.spatial.windowcontainer.id" android:value="ProbeManager" />
            <meta-data android:name="pico.spatial.windowcontainer.style" android:value="1" />
            <meta-data android:name="pico.spatial.windowcontainer.defaultsize" android:value="1080x640" />
            <meta-data android:name="pico.spatial.windowcontainer.materialbackground" android:value="1" />
        </activity>
        <activity android:name=".platform.VrActivity" android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="io.github.zkwz.bs4pico.probe.NATIVE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
            <meta-data android:name="pvr.app.type" android:value="vr" />
            <meta-data android:name="pvr.sdk.version" android:value="OpenXR" />
        </activity>
        <meta-data android:name="icon.3d.list" android:resource="@array/icon_3d_list" />
        <meta-data android:name="icon.sdf.list" android:resource="@array/icon_sdf_list" />
    </application>
</manifest>
